*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}
h1{
  color: #fff;
  text-align: center;
  font-size: 2em;
  font-family: cursive;
  font-weight: bold;
}
body{
  background-image: url("../images/pool.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size:cover;
  height: 100%;
}
.wrap{
  width: 400px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 6px 0px #111;
  background-color: brown;
  opacity: 0.8;
  padding: 12px;
}
.mess{
  background-image: url("../images/profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 3px solid #a9c3df;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}
h2{
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 4px 0px #000;
}
.supab{
  text-align: center;
  color: #fff;
}
p span{
  color: #fff;
}
h3{
  color: #fff;
  margin-left: 10px;
}
h4{
  color: #fff;
  margin-left: 10px;
  font-size: 14px;
  padding: 10px;
}
.wrapper{
  padding: 20px;
  text-align: center;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-inline li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
  }
.social-icons .fa {
    font-size: 1em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #FFF;
    color: rgba(255, 255, 255, 0.8);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{
    border-radius: 50%;
}
.social-icons.icon-rounded .fa{
    border-radius:5px;
}
.social-icons.icon-flat .fa{
    border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
    color: #FFF;
    -webkit-box-shadow: 1px 1px 3px #333;
    -moz-box-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333;
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;}
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;}

}
.footer{
  text-align: center;
}
@media (max-width: 320px){
  .wrap{
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 384px){
  .wrap{
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 414px){
  .wrap{
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 480px){
  .wrap{
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 568px){
  .wrap{
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 667px){
  .wrap{
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 768px){
  .wrap{
    width: 100%;
    margin: 0 auto;
  }
}
